*{background-color: palevioletred;}
.kutu{
    width: 6rem;
    height: 4rem;
    background-color:grey;
    border: 1px solid black;
    margin:0.5rem;
    float:left;
}

.kutu1{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float:right;

}

.clearfix{
    clear: both;
}

.kutu2{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: left;
}

.kutu3{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float:right;
}

.kutu4{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: left;
}

.kutu5{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: right;
}

.kutu6{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float:left;
}

.kutu7{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: right;
}

.kutu8{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: left;
} 

.kutu9{
    width: 6rem;
    height: 4rem;
    background-color: grey;
    border: 1px solid black;
    margin: 0.5rem;
    float: right;
}